/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  border-radius: 16px;
  width: 60px;
}

header {
  padding: auto;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(170, 0, 0, 0.5);
  
}

body {
  background: linear-gradient(90deg, rgb(249, 142, 142) 25%, rgb(239, 209, 209) 73%);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  /* padding-bottom: 80px; */
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.back {
  padding: 35px 0;
}

.logo {
  margin-top: 5px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/* ? Imput de buscar */

.barra_deBusqueda {
  display: flex;
  justify-content:right;
  align-items: flex-end;
  margin: auto;
  margin-top: 80px;
  width: 100%;
  height: 60px;

}

section .container {
  margin-right: 100px;
}
input {
  width: 350px;
  padding: 15px;
  padding-right: 35px;
  border-radius: 40px 0 0 40px;

  border: 0;
  outline: none;
}

.barra_deBusqueda button {
  background-color: #b13b3b;
  width: 45px;
  height: 45px;
  padding: 10px;
  position: absolute;
  border: 0;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 46px;
  width: 64px;
  margin: 0;
}


.bi-search {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
}

.menu .navbar ul li {
  position: relative;
  float: left;

}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fff;
  display: block;
}

.menu .navbar ul li a:hover {
  color: aqua;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;

}

.menu label {
  cursor: pointer;
  display: none;
}

.slogan_h2, .slogan_p{
  color: #fff;
  text-align: center;
}

/*? Main */
main {
  padding-bottom: 60px; /* Ajusta el valor según la altura de tu footer */
}



/* Estilos para las noticias tipo card */
#noticias {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 60px; /* Ajusta el valor según la altura de tu footer */
}

#noticias .item {
  background-color: #eee;
  max-width: 360px;
  border:2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

#noticias .item:hover{
  box-shadow: 0 0 10px 5px #ccc;
}
#noticias .item:hover h2{
  text-decoration: underline;
}
#noticias .item .info_item{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.item {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  box-shadow: 7px 7px 25px 1px rgba(0,0,0,0.06);
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 10px;
  background: #ffffff;
}

.item:last-child {
  margin-right: 0; /* Eliminar el margen derecho de la última tarjeta en una fila */
}

.item h2 {
  font-size: 16px;
  margin: 10px;
}

.item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.info_item {
  padding: 10px;
  border-top: 1px solid #eee;
}

.fecha, .fuente {
  font-size: 12px;
  color: #666;
}









/* ?Footer */
.hidden {
  transform: translateY(100%);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 170px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e3238fd;
  padding: 10px 0;
  z-index: 1000; /* Asegurar que el footer esté por encima del contenido */
}

#btnSiguiente {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  height: 30px;
  background-color: rgb(44, 10, 78);

}

#noticias #btnSiguiente:hover{
  color: #62b9b2;
}

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; 
  background-color: #333; 
  color: white;
  text-align: center;
} */

.logos_slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}

.logos_slogan .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  .container h5 {
    font-size: 1.6rem;
  }
.contenedor p {
  color: #fff;
  font-size: 1.3rem;
}
.navegacion {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.contactanos {
  color: #fff;
  font-size: 1.5rem;
}

.derechosreservados {
  color: #fff;
}
div .barra-navegacion ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-right: 15px;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra-navegacion {
  width: 100%;
}

.marca {
  font-size: 1.5rem;
  color: #ffc107;
}

.text-warning {
  color: #fff;
}

/* Redes sociales */
.redes-sociales a {
  font-size: 2rem;
  color: white;
  font-size: 1.8rem;
}

.bi-whatsapp {
  color: #25D366;
}
.bi-facebook {
  font-size: 2rem;
  color:  #1877F2;
}
.bi-youtube {
  font-size: 2rem;
  color:  #FF0000;
}

.bi-instagram {
  font-size: 2rem;
  color: #833ab4;;
}
.redes-sociales a:hover {
  color: #ffc107;
}


@media(max-width: 991px) {
  .menu {
    padding: 30px;

  }

  .back h5 {
    font-size: 1.3rem;
  }
  .slogan_p {
    display: none;
  }
  .slogan {
    position: relative;
    left: 100px;

  }

  .slogan_h2 {
    font-size: 1.1rem;
  }

  .logo {
    position: absolute;
    width: 80px;
   
    
  }


  img {
    width: 100%;
  }


  .menu label {
    display: initial;
  }

  .back {
    padding: 45px 0;

  }

  

   .menu .navbar {
    position: absolute;
    top: 100%;
    left: initial;
    right: 0;
    width: 80%;
    background-color: #2a394f;
    display: none;
    opacity: .9;
  } 

 


  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  

  /* ?menu */
  .bars__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .logo {
    order: -1;
  }
  
  .bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}
  
  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
  }
  
  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }
  
  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }
} 

 @media screen and (max-width: 430px) {

  .barra_deBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    height: 70px;
    position: absolute;
    top: 13%;
  }
  section .container {
    width: 100%;
    position: absolute;
    top: 5;
    left: 20px;
    
  }

  .bi-search {
    width: 100%;
    width: 20px;
  }

  #busqueda {
    width: 300px;
  }

  footer img{
    display: none;
  }

  footer .contenedor p {
    display: none;
}


  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
  }

  footer .derechosreservados {
    margin-bottom: 5px;
    font-size: 11px;
  }

  footer .contactanos{
    line-height: 5px;
    font-size: 1.2rem;
    margin-top: -5px;
  }

  footer h5 {
    margin-top: -10px;
    font-size: 1rem;
  }

  footer .navegacion{
    border-top: solid 1.5px #fff;
    width: 80%; 
    margin: 0 auto;
    
  }

  .navegacion .redes-sociales i {
    font-size: 24px; 
}

  } 